@import "tailwindcss";;

@theme {
  --color-brand-gold: #D4AF37;
  --color-brand-black: #0A0A0A;
  --font-jucaus: 'Outfit', sans-serif;
}

:root {
  --background: #0A0A0A;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jucaus);
}